# Importing Libraries

In [1]:
import pandas as pd

### Reading Data

In [2]:
df = pd.read_excel("Sample StockMarket Data.xlsx")

### Task 1: Classify data based on expiry dates

In [3]:
# As the data is only available for BANKNIFTY, I went ahead and selected first 17 characters which covers text upto date, the code is static
# but can be made dynamic according to requirements

unique_dates = df["Ticker"].apply(lambda x: x[0:16]).unique()


# Creating empty dictionary to get dataframes for different dates in a dictionary
dict_of_df = {}


# New dataframe created and assigned to a key in dictionary
for date in unique_dates:
    key_name = date
    dict_of_df[key_name] = df.loc[df["Ticker"].apply(lambda x: x.__contains__(f"{date}"))]

In [4]:
# These are the keys in dictionary which can be used to access dataframes for different dates, I realize that the last three doesn't have any
# date, but because I don't have much knowledge about options, I have left them there.

dict_of_df.keys()

dict_keys(['BANKNIFTY01APR21', 'BANKNIFTY04MAR21', 'BANKNIFTY10MAR21', 'BANKNIFTY18MAR21', 'BANKNIFTY22APR21', 'BANKNIFTY25MAR21', 'BANKNIFTY27MAY21', 'BANKNIFTY29APR21', 'BANKNIFTY-I.NFO', 'BANKNIFTY-II.NFO', 'BANKNIFTY-III.NF'])

In [5]:
# An example of accessing a dataframe
key = "BANKNIFTY29APR21"
dict_of_df[key]

,Ticker,Date,Time,Open,High,Low,Close,Volume,Open Interest
80778,BANKNIFTY29APR2129000PE.NFO,2021-03-01,09:15:59,239.00,239.00,239.00,239.00,25,2250
80779,BANKNIFTY29APR2129000PE.NFO,2021-03-01,09:16:59,249.00,249.00,249.00,249.00,25,2250
80780,BANKNIFTY29APR2129000PE.NFO,2021-03-01,09:22:59,248.95,248.95,174.00,174.00,50,2250
80781,BANKNIFTY29APR2129000PE.NFO,2021-03-01,09:28:59,248.95,248.95,220.00,220.00,50,2250
80782,BANKNIFTY29APR2129000PE.NFO,2021-03-01,09:31:59,248.95,248.95,248.95,248.95,25,2275
...,...,...,...,...,...,...,...,...,...
81939,BANKNIFTY29APR2140000CE.NFO,2021-03-01,15:14:59,404.05,405.75,404.05,405.75,100,9750
81940,BANKNIFTY29APR2140000CE.NFO,2021-03-01,15:20:59,405.75,407.10,405.00,405.00,50,9750
81941,BANKNIFTY29APR2140000CE.NFO,2021-03-01,15:25:59,405.00,414.90,405.00,414.90,100,9725
81942,BANKNIFTY29APR2140000CE.NFO,2021-03-01,15:26:59,414.00,414.00,411.00,411.00,50,9725
81943,BANKNIFTY29APR2140000CE.NFO,2021-03-01,15:29:59,411.00,414.90,411.00,414.90,25,9825

### Task 2: Create dataframes for different time intervals

In [6]:
# 3 minute interval dataframe
three_minute_interval = df.loc[df["Time"].apply(lambda x: int(x.minute) % 3 == 0)]

# 5 minute interval dataframe
five_minute_interval = df.loc[df["Time"].apply(lambda x: int(x.minute) % 5 == 0)]

# 15 minute interval dataframe
fifteen_minute_interval = df.loc[df["Time"].apply(lambda x: int(x.minute) % 15 == 0)]

# 60 minute interval dataframe
sixty_minute_interval = df.loc[df["Time"].apply(lambda x: int(x.minute) == 0)]

In [7]:
sixty_minute_interval.head()

,Ticker,Date,Time,Open,High,Low,Close,Volume,Open Interest
2,BANKNIFTY01APR2130700CE.NFO,2021-03-01,15:00:59,4855.00,4860.00,4855.0,4860.00,100,48000
56,BANKNIFTY04MAR2127300PE.NFO,2021-03-01,10:00:59,5.40,5.40,5.4,5.40,125,41300
111,BANKNIFTY04MAR2127300PE.NFO,2021-03-01,11:00:59,4.75,4.75,4.5,4.50,800,41325
166,BANKNIFTY04MAR2127300PE.NFO,2021-03-01,12:00:59,5.40,5.65,5.4,5.45,2625,55725
277,BANKNIFTY04MAR2127300PE.NFO,2021-03-01,14:00:59,5.50,5.90,5.4,5.80,2200,80475

In [8]:
# As for the Bonus Task, I was able to find a library called py_vollib which has some models and methods for calculating implied volatility,
# but, because of my limited knowledge of options, I wasn't able to determine what different perimeters mean like S, K, T, r etc. I was not 
# sure which value should I put in place to calculate implied volatility